* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    color: rgb(19, 18, 17);
    background-color: rgb(238, 241, 247);
}

image {
    border-color: rgba(40, 92, 27, 0.568);
    border-style: dotted;
    border-width: 3px;
}



#vimeo {
    height: 200px;
}
.flex-container {
    display: flex;
    justify-content: space-around;
    max-width: 800px;
    flex-wrap: wrap;
    margin: auto;
}

.flex-item {
    display: flex;
    height: 100px;
    width: 100px;
    text-align: center;
}

h5 {

    font-family: Verdana, Geneva, Tahoma, sans-serif;
}